/*
--------------------
  General Styling
--------------------
*/

body {
  display: flex;
  flex-direction: column;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: rgb(243, 224, 190);
}

/*
--------------------
  Navbar
--------------------
*/

nav {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
  border-bottom: 1px solid rgb(173, 173, 173);
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}

nav ul li:hover {
  cursor: pointer;
}

/* 
--------------------
  Main
--------------------
*/

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logo {
  margin-top: 25px;
}

#description {
  width: 75%;
  font-size: 20px;
}

#description h2 {
  text-align: center;
  font-size: 24px;
  margin: 10px;
}

#description p {
  margin: 20px;
}

/* 
--------------------
  Home
--------------------
*/



/* 
--------------------
  Menu
--------------------
*/

.menu-grid {
  margin: 0 auto;
  display: grid;
  grid: repeat(4, 1fr) / repeat(4, 1fr);
  border-radius: 5px;
  grid-gap: 10px;
  height: 1000px;
  width: 1000px;
  background-color: rgba(202, 110, 67, 0.603);
}

.menu-grid .menu-item {
  margin: auto;
  height: 90%;
  width: 90%;
  background-color: rgb(224, 206, 158);
  border: 1px solid grey;
  color:rgb(71, 16, 16);
  border-radius: 5px;
}

.item-title {
  color: rgb(0, 0, 0);
  font-size: 20px;
  border-bottom: 1px solid grey;
}

/* 
--------------------
  About
--------------------
*/

/* 
--------------------
  Find Us
--------------------
*/

.img-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.img-container img {
  max-width: 100%;
  align-self: center;
}

.img-container a {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color:rgb(238, 143, 54);
  text-decoration: none;
}


/* 
--------------------
  Footer
--------------------
*/

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: rgb(238, 143, 54);
  background-color: rgb(71, 16, 16);
}